wheel
Django
djangorestframework
markdown
django-filter
requests
djangorestframework-simplejwt
django-utils-six
django-rest-swagger
pytz
pyyaml
drf-spectacular
django-cors-headers
drf-spectacular[sidecar]
tox
drf_yasg
conduit
protobuf~=3.19.0
django-sslserver
django-debug-toolbar
django-redis
redis
django-redis-cache
django-enumchoicefield
django-rest-framework-proxy
django-q
docker