wheel
Django
djangorestframework
markdown
django-filter
requests
rocketchat-API
djangorestframework-simplejwt
django-utils-six
django-rest-swagger
django-email-verification
django-ipware
pytz
drf-spectacular~=0.26.5
django-cors-headers
drf-spectacular[sidecar]
psycopg2
drf_yasg~=1.21.6
django-debug-toolbar
django-redis
redis
django-redis-cache
django-storages
boto3
python-decouple
stripe~=4.2.0
django-enumchoicefield
django-rest-framework-proxy
pint
geopy
docker
lib
google-auth
google-auth-httplib2
google-api-python-client
channels
channels-redis
apscheduler
django-apscheduler
Pillow
pyotp
numpy
scikit-learn
scipy
deap
hmmlearn
tensorflow
pandas
prophet
statsmodels
xgboost